body {
    /* background-color: rgb(95, 94, 94); */
    margin: 0;
    font-family: cursive;
}
h1 {
    color: #557483;
    width: 100%;
    text-align: center;
}
.colorBlack {
    color: black;
    font-size: 3rem;
}

p.titleInfo {
    font-size: 2rem;
}
div.infoData {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2em;
    align-items: center;
    text-align: left;
    padding-right: 1em;
}
p.text-contact{
    word-break: break-all;
}
a#pagweb{
    font-weight: bolder;
    color: #6b95a9;
    font-size: 1.2em;
}
i {
    color: black;
    font-size: 1.5em;
    margin-left: 1.5em;
    margin-right: 0.5em;
}
.contactIcons {
    background-color: white;
    border-radius: 0 15px 15px 0;
    height: 2em;
    padding-top: 0.3em;
}

div#infoRedes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.redes {
    background-color: white;
    border-radius: 15px;
    margin: 1em;
    padding: 1em;
    margin-left: 0;
}

.redes > i{
    margin: 0;
}

div#contentData {
    display: flex;
    width: 100%;
}
img {
    margin-top: 2em;
    width: 51%;
    border-radius: 15px;
}
div#firstContent {
    background-color: #3c3939;;
    text-align: center;
    color: white;
    width: 30%;
    float: left;
}

div#secondContent {
    background-color: white;
    color: black;
    width: 69%;
    float: left;
    padding-left: 1.1em;
}
h2.title {
    color: white;
    background-color: #3c3939;
    padding: 0.5em;
    border-radius: 15px;
    margin-left: 1em;
    width: max-content;
}
div#educationDate {
    padding-left: 5em;
}
div.dataDate {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3em;
}
div#experienciaDate {
    padding-left: 5em;
}

/* apartado de divs competencias */
div#content-text-competencias {
    margin-bottom: 3em;
margin-left: 0.5em;
}
div.content-color {
    display: flex;
    flex-wrap: wrap;
}
div#azul1 {
    background: #6b95a9;
;
    width: 13em;
    height: 1em;
    border-radius: 6px 0px 0px 6px;
}
div#azul2 {
    background: #6b95a9;
;
    width: 13em;
    height: 1em;
    border-radius: 6px 0px 0px 6px;
}
div#azul3 {
    background: #6b95a9;
;
    width: 16em;
    height: 1em;
    border-radius: 6px 6px 6px 6px;}
div#azul4 {
    background: #6b95a9;
;
    width: 16em;
    height: 1em;
    border-radius: 6px 6px 6px 6px;
}
div#azul5 {
    background: #6b95a9;
;
    width: 14em;
    height: 1em;
    border-radius: 6px 0px 0px 6px;
}
div#azul6 {
    background: #6b95a9;
;
    width: 12em;
    height: 1em;
    border-radius: 6px 0px 0px 6px;
}
div#gris1 {
    background: #aab8d8;
    width: 3em;
    height: 1em;
    border-radius: 0px 6px 6px 0px;
}
div#gris2 {
    background: #aab8d8;
    width: 3em;
    height: 1em;
    border-radius: 0px 6px 6px 0px;
}
div#gris5 {
    background: #aab8d8;
    width: 2em;
    height: 1em;
    border-radius: 0px 6px 6px 0px;
}
div#gris6 {
    background: #aab8d8;
    width: 4em;
    height: 1em;
    border-radius: 0px 6px 6px 0px;
}
div.content-competencias {
    width: 100%;
    height: 1em;
    display: flex;
    margin-bottom: 1em;
    margin-top: 2em;
    flex-direction: column;
    align-items: center;
}

strong.text-competencia {
    margin-left: 0.5em;
    margin-bottom: 0.1em;
}